extends layout

block content
  section#blog
    article#blog-post
      .heading
        if post.meta.image
          img(src=post.meta.image)
        h1= post.title
        if post.meta.subtitle
          h3.subtitle= post.meta.subtitle
        .meta
          include blog_metadata

      .body !{post.html}

      hr
    #disqus_thread
    noscript Please enable JavaScript to view the comments.
    script(type='text/javascript')
      var disqus_shortname = 'justin-li';
      var disqus_url = 'http://j-li.net#{path}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
