extends layout

block metadata
  meta(name='created', content=moment(post.date).format("YYYY-MM-DD"))

block content
  section#blog
    article#blog-post
      .heading
        if post.meta.image
          img(src=post.meta.image)
        h1= post.title
        if post.meta.subtitle
          h3.subtitle= post.meta.subtitle
        .meta
          include blog_metadata

      .body !{post.html}

