div.center-container
  div.center-outer
    div#projects.center-inner
      h1
        | Projects


      - var frurl = 'http://frustra.org'
      - var githuburl = 'http://github.com'


      h3
        a(href=frurl) frustra.org
      p Frustra Software Design is a collaboration of software between myself and Jacob Wirth.
        br
        | Some of the things we've made or are making:


      ul
        li
          a(href=frurl + '/mycraft') MyCraft
          |  - A mod manager and loader for all versions of
          a(href='http://minecraft.net') Minecraft.
        li
          a(href=frurl + '/tetrus') Tetrus
          |  - A co-operative multiplayer version of the classic Tetris
          a(href=githuburl + '/j1i/tetrus') (github).
        li
          | DerpFort (temporary name) - An online FPS, in which you battle your foes to defend the fort you build yourself.


      h3
        a(href='http://portal2sounds.com') portal2sounds.com
        |  /
        a(href='http://tf2sounds.com') tf2sounds.com
      
      p
        | A soundboard containing everything from the
        a(href='http://www.thinkwithportals.com/') Portal
        |  and
        a(href='http://www.teamfortress.com/') Team Fortress 2
        |  series.
      


      h3 Libraries
      p My (far too few) open source libraries:
      ul
        li
          a(href=githuburl + '/j1i/jp33r') jp33r
          |  - A peer-to-peer UDP socket library that automates NAT traversal for Java applications.
